<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors List</title>
    <link rel="stylesheet" href="/static/appointment.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="patientDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative; left: 2px; top: 3px;">
                        Blogs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="patientDropdown">
                        <a class="dropdown-item" href="/mentalhealth/">Mental Health</a>
                        <a class="dropdown-item" href="/heart/">Heart Disease</a>
                        <a class="dropdown-item" href="/covid/">Covid 19</a>
                        <a class="dropdown-item" href="/immune/">Immunization</a>
                    </div>
                </li>
                <a class="navbar-brand" href="{% url 'appointment' %}" style="position: relative; left: 15px; top: 2px; font-size: 18px; height: 38.4191px; transform: translate(0px, 1.56863px); transition: none;">Book Appointment
                </a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'LogOut' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Our Doctors</h1>
        <div class="doctor-list">
            <!-- Example doctor item -->
            {% for details in doc %}
            <div class="doctor-item">
                <img src="media/{{ details.d_Picture }}" alt="Profile Pic" class="profile-pic">
                <div class="doctor-info">
                    <h2 style="position: relative; left: 13px; top: 4px;">Dr. {{details.d_Firstname}} {{details.d_Lastname}}</h2>
                    <form method="post" action="{% url 'appointmentForm' %}">
                        {% csrf_token %}
                        <button class="book-btn" style="position: relative; left: 771px; top: -29px; width: 174.106px; height: 44.3014px; transform: translate(-19.6078px, 0px); transition: none;" value={{details.d_Username}} name="myButton">Book Appointment</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
